.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 250px;
  max-width: 850px;

  margin: 0 auto;
  padding: 50px;

  box-shadow: 5px 11px 38px 1px rgba(0, 0, 5, 0.75);
}

.main {
  max-width: 375px;
}
